.navigation-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 100px 10px;
  position: fixed;
  width: 250px;
}

.navigation-container h1 {
  font-size: 16px;
  margin: 0;
  padding: 10px 0;
}

.navigation-container nav {
  display: flex;
  flex-wrap: wrap;
}

.product-container div {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  min-height: 200px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.navigation-container nav div {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
}

.navigation-container input {
  background-color: yellow;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 2px;
}


.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
}

.product-container div div {
  border: 2px solid black;
  border-radius: 10px;
}

.product-container div div h1 {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.product-container div div a {
  color: black;
  font-size: 12px;
  text-decoration: none;
}

.product-container div div img {
  height: 90px;
  width: 90px;
}

.navigation-container input:hover {
  text-decoration: underline;
}